{% comment %}
  use text-slate-200 for changing icon color, not fill-colorValue
  PARAMS:
      icon ----> Icon name
      size ----> "l" = 40x40px, "m" = 24x24px, "s" = 16x16px;
      class ----> custom tailwind classes if needed;
{% endcomment %}
{% case size %}
  {% when 'sm' %}
    {% assign size = 'w-4 h-4' %}
  {% when 'md' %}
    {% assign size = 'w-6 h-6' %}
  {% when 'lg' %}
    {% assign size = 'w-10 h-10' %}
{% endcase %}

{% assign classes = size | append: ' ' | append: class %}

{% case name %}
  {% when 'accordion-icon' %}
    <div class="relative {{ classes }}">
      <svg
        aria-hidden="true"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M24 11H0V13H24V11Z" fill="currentColor"/>
      </svg>
      <svg
        aria-hidden="true"
        class="ease absolute inset-0 duration-200"
        :class="isOpen ? 'rotate-0' : 'rotate-90'"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M24 11H0V13H24V11Z" fill="currentColor"/>
      </svg>
    </div>
  {% when 'lock' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="19"
      height="18"
      viewBox="0 0 19 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M2.92696 13.6365C3.03427 14.5343 3.45791 15.3644 4.1219 15.9781C4.78589 16.5918 5.64679 16.9488 6.55021 16.9852C8.51588 17.0528 10.4833 17.0525 12.449 16.9845C13.3523 16.9483 14.2132 16.5914 14.8772 15.9778C15.5412 15.3642 15.9649 14.5342 16.0722 13.6365C16.1505 12.9866 16.1918 12.3328 16.196 11.6782C16.196 11.0175 16.1457 10.3642 16.0722 9.72074C15.9651 8.82305 15.5416 7.9929 14.8777 7.3792C14.2138 6.7655 13.353 6.40842 12.4497 6.37199C11.4665 6.33749 10.4832 6.31949 9.49995 6.32024C8.51647 6.31989 7.53307 6.33715 6.55021 6.37199C5.64676 6.40844 4.78586 6.76564 4.12198 7.37949C3.4581 7.99333 3.03469 8.82366 2.92771 9.72149C2.84964 10.3709 2.80833 11.0242 2.80396 11.6782C2.80396 12.3405 2.85421 12.9945 2.92696 13.6365Z" fill="currentColor" fill-opacity="0.12" stroke="currentColor" stroke-width="1.5"/>
      <path d="M13.25 6.32249V4.71374C13.25 4.22128 13.1529 3.73365 12.9644 3.2787C12.7759 2.82375 12.4996 2.41038 12.1514 2.0622C11.4481 1.359 10.4942 0.964012 9.49963 0.964111C8.50506 0.964211 7.55128 1.35939 6.84808 2.06273C6.14489 2.76606 5.7499 3.71992 5.75 4.71449V6.32249" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M9.50007 13.2855C9.92634 13.2855 10.3352 13.1162 10.6366 12.8148C10.938 12.5133 11.1073 12.1045 11.1073 11.6783C11.1073 11.252 10.938 10.8432 10.6366 10.5418C10.3352 10.2403 9.92634 10.071 9.50007 10.071C9.0738 10.071 8.66499 10.2403 8.36357 10.5418C8.06216 10.8432 7.89282 11.252 7.89282 11.6783C7.89282 12.1045 8.06216 12.5133 8.36357 12.8148C8.66499 13.1162 9.0738 13.2855 9.50007 13.2855Z" stroke="currentColor" stroke-width="1.5"/>
    </svg>

  {% when 'qty-minus' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="12"
      height="2"
      viewBox="0 0 12 2"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path id="Line 786" d="M1 1H11" stroke="currentColor" stroke-linecap="round"/>
    </svg>

  {% when 'minus-bold' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14 8V6L0 6V8H14Z" fill="currentColor"/>
    </svg>

  {% when 'plus-bold' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14 8V6L0 6V8H14Z" fill="currentColor"/>
      <path d="M8 0H6V14H8V0Z" fill="currentColor"/>
    </svg>

  {% when 'qty-plus' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="12"
      height="11"
      viewBox="0 0 12 11"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 5.5H11" stroke="currentColor" stroke-linecap="round"/>
      <path d="M6 0.5L6 10.5" stroke="currentColor" stroke-linecap="round"/>
    </svg>

  {% when 'chevron' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_132_1899)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.12212 11.2605L9.94663 8.50984L7.12212 5.74021C6.73422 5.37125 7.36219 4.7433 7.75007 5.11226L10.9626 8.25078C11.0921 8.38028 11.1104 8.61974 10.9809 8.74924L7.7501 11.8878C7.36221 12.2567 6.73486 11.6294 7.12215 11.2598L7.12212 11.2605Z" fill="currentColor"/>
      </g>
      <defs>
        <clipPath id="clip0_132_1899">
          <rect width="8" height="7.99992" fill="currentColor" transform="translate(5 4.00004)"/>
        </clipPath>
      </defs>
    </svg>

  {% when 'help_filled' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M12.0002 1.28369C6.09113 1.28369 1.28369 6.09113 1.28369 12.0002C1.28369 17.9092 6.09113 22.7167 12.0002 22.7167C17.9092 22.7167 22.7167 17.9092 22.7167 12.0002C22.7167 6.09113 17.9092 1.28369 12.0002 1.28369ZM11.1386 17.1799C11.1386 16.9089 11.3589 16.6886 11.6299 16.6886C11.9008 16.6886 12.1211 16.9089 12.1211 17.1799V17.253C12.1211 17.5239 11.9008 17.7442 11.6299 17.7442C11.3589 17.7442 11.1386 17.5239 11.1386 17.253V17.1799ZM11.6392 16.0933C11.3683 16.0933 11.148 15.873 11.148 15.602C11.148 13.0024 12.2055 12.2956 13.0558 11.7272C13.7589 11.2566 14.267 10.9172 14.267 9.50631C14.267 8.25569 13.2499 7.23944 12.0002 7.23944C10.7505 7.23944 9.7333 8.25663 9.7333 9.50631C9.7333 9.77724 9.51299 9.99756 9.24204 9.99756C8.97111 9.99756 8.75079 9.77725 8.75079 9.50631C8.75079 7.7138 10.2086 6.25599 12.0011 6.25599C13.7936 6.25599 15.2514 7.7138 15.2514 9.50631C15.2514 11.4422 14.3374 12.0534 13.6024 12.5447C12.813 13.0725 12.1314 13.5282 12.1314 15.6028C12.1305 15.8728 11.9102 16.0933 11.6392 16.0933Z" fill="currentColor"/>
    </svg>

  {% when 'help' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M6.56347 7.20001C6.56347 7.43797 6.36547 7.59603 6.16745 7.59603C5.92949 7.59603 5.77143 7.43739 5.77143 7.20001C5.77143 5.85274 6.88133 4.74286 8.22858 4.74286C9.57583 4.74286 10.6857 5.85275 10.6857 7.20001C10.6857 8.4286 9.81379 9.45914 8.62521 9.65716V10.1325C8.62521 10.3305 8.42721 10.5285 8.22919 10.5285C7.99122 10.5285 7.83316 10.3305 7.83316 10.1325V9.3005C7.83316 9.06254 7.9918 8.86453 8.22919 8.86453C9.14049 8.86453 9.89367 8.15124 9.89367 7.20005C9.89367 6.28875 9.14043 5.53557 8.22919 5.53557C7.31789 5.53557 6.5647 6.28881 6.5647 7.20005L6.56347 7.20001Z" fill="currentColor"/>
      <path d="M8.22795 11.0443C8.46592 11.0443 8.70329 11.2423 8.70329 11.4803C8.70329 11.7576 8.46532 11.9556 8.22795 11.9556C7.98999 11.9556 7.79199 11.7576 7.79199 11.4803C7.79199 11.2423 7.98999 11.0443 8.22795 11.0443Z" fill="currentColor"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8ZM2.27001 8C2.27001 11.1646 4.83541 13.73 8 13.73C11.1646 13.73 13.73 11.1646 13.73 8C13.73 4.83541 11.1646 2.27001 8 2.27001C4.83541 2.27001 2.27001 4.83541 2.27001 8Z" fill="currentColor"/>
    </svg>

  {% when 'close' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="16"
      height="16"
      fill="none"
      viewBox="0 0 16 16"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M7.50081 8.00801L5.10347 10.3654C4.77475 10.6822 5.30724 11.2192 5.63648 10.903L7.99964 8.58495L10.3636 10.9037C10.6928 11.2199 11.2253 10.6829 10.8966 10.3662L8.49922 8.00874L10.8966 5.6351C11.2258 5.31889 10.6928 4.78072 10.3636 5.09692L8.00039 7.42819L5.63645 5.09619C5.30723 4.77998 4.77423 5.31816 5.10347 5.63437L7.50081 8.00801Z" fill="currentColor"/>
    </svg>

  {% when 'alert' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="14"
      height="15"
      viewBox="0 0 14 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.85001 14.4816C3.06698 14.4816 0 11.4146 0 7.63161C0 3.84858 3.06698 0.781616 6.85001 0.781616C10.633 0.781616 13.7 3.8486 13.7 7.63161C13.7 11.4146 10.633 14.4816 6.85001 14.4816ZM7.9912 3.92117C7.9912 3.60603 7.73551 3.35034 7.42037 3.35034H6.27871C5.96357 3.35034 5.70788 3.60603 5.70788 3.92117V8.20243C5.70788 8.51757 5.96357 8.77326 6.27871 8.77326H7.42037C7.73551 8.77326 7.9912 8.51757 7.9912 8.20243V3.92117ZM6.84954 9.91488C6.21924 9.91488 5.70788 10.4263 5.70788 11.0566C5.70788 11.6868 6.21925 12.1982 6.84954 12.1982C7.47982 12.1982 7.9912 11.6868 7.9912 11.0566C7.9912 10.4263 7.47982 9.91488 6.84954 9.91488Z" fill="currentColor"/>
    </svg>

  {% when 'cart' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M11.9937 7.40257H3.89589C3.56321 7.40262 3.23495 7.47873 2.93621 7.6251C2.63747 7.77148 2.37615 7.98422 2.17224 8.24708C1.96834 8.50994 1.82724 8.81595 1.75974 9.1417C1.69224 9.46746 1.70013 9.80433 1.7828 10.1266L4.02025 18.8538C4.14067 19.3232 4.41394 19.7392 4.79696 20.0361C5.17997 20.333 5.65092 20.4939 6.13552 20.4935H17.8519C18.3361 20.4934 18.8066 20.3323 19.1891 20.0354C19.5717 19.7386 19.8446 19.3229 19.965 18.8538L22.2035 10.1266C22.2862 9.80433 22.2941 9.46746 22.2266 9.1417C22.1591 8.81595 22.018 8.50994 21.8141 8.24708C21.6102 7.98422 21.3489 7.77148 21.0501 7.6251C20.7514 7.47873 20.4231 7.40262 20.0904 7.40257H11.9937ZM11.9937 7.40257V0.857117Z" fill="currentColor"/>
      <path d="M11.9937 7.40257H3.89589C3.56321 7.40262 3.23495 7.47873 2.93621 7.6251C2.63747 7.77148 2.37615 7.98422 2.17224 8.24708C1.96834 8.50994 1.82724 8.81595 1.75974 9.1417C1.69224 9.46746 1.70013 9.80433 1.7828 10.1266L4.02025 18.8538C4.14067 19.3232 4.41394 19.7392 4.79696 20.0361C5.17997 20.333 5.65092 20.4939 6.13552 20.4935H17.8519C18.3361 20.4934 18.8066 20.3323 19.1891 20.0354C19.5717 19.7386 19.8446 19.3229 19.965 18.8538L22.2035 10.1266C22.2862 9.80433 22.2941 9.46746 22.2266 9.1417C22.1591 8.81595 22.018 8.50994 21.8141 8.24708C21.6102 7.98422 21.3489 7.77148 21.0501 7.6251C20.7514 7.47873 20.4231 7.40262 20.0904 7.40257H11.9937ZM11.9937 7.40257V0.857117" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'search' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M13.9999 21.6364C18.9203 21.6364 22.909 17.6476 22.909 12.7273C22.909 7.80691 18.9203 3.81818 13.9999 3.81818C9.07956 3.81818 5.09082 7.80691 5.09082 12.7273C5.09082 17.6476 9.07956 21.6364 13.9999 21.6364Z" stroke="currentColor" stroke-width="2"/>
      <path d="M20.3638 19.0909L24.182 22.9091L20.3638 19.0909Z" fill="currentColor"/>
      <path d="M20.3638 19.0909L24.182 22.9091" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'burger' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.27295 6.36365H26.7275H1.27295ZM1.27295 14H26.7275H1.27295ZM1.27295 21.6364H26.7275H1.27295Z" fill="currentColor"/>
      <path d="M1.27295 6.36365H26.7275M1.27295 14H26.7275M1.27295 21.6364H26.7275" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>

  {% when 'slider-arrow' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      xmlns="http://www.w3.org/2000/svg"
      width="31"
      height="30"
      viewBox="0 0 31 30"
      fill="none"
    >
      <path d="M19.0355 23.4492C19.2945 23.4387 19.4949 23.2195 19.4843 22.9617C19.4796 22.8527 19.4374 22.7484 19.3648 22.6676L12.6079 15.0083L19.3648 7.34897C19.5476 7.16499 19.5453 6.86849 19.3624 6.6857C19.1785 6.50289 18.8808 6.50523 18.6992 6.68922C18.6863 6.70211 18.6746 6.71617 18.664 6.73023L11.7289 14.5899C11.5332 14.7071 11.45 14.9485 11.5332 15.1618C11.5625 15.2509 11.6188 15.3305 11.6938 15.388L18.664 23.2888C18.7554 23.3954 18.8925 23.4551 19.0355 23.4492Z" fill="currentColor"/>
    </svg>
  {% when 'account' %}
    <svg
      aria-hidden="true"
      class="{{ classes }}"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14.0001 14C16.8117 14 19.091 11.7207 19.091 8.90908C19.091 6.09745 16.8117 3.81818 14.0001 3.81818C11.1885 3.81818 8.90918 6.09745 8.90918 8.90908C8.90918 11.7207 11.1885 14 14.0001 14Z" stroke="currentColor" stroke-width="2"/>
      <path d="M4.45459 24.1818C6.26314 20.3967 9.85986 17.8182 14 17.8182C18.1402 17.8182 21.737 20.3967 23.5455 24.1818" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>

  {% when 'star' %}
    <svg class="{{ classes }}" width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.60135 0L5.79459 2.86174L8.89182 3.10942L6.53206 5.12576L7.253 8.14058L4.60135 6.525L1.9497 8.14058L2.67064 5.12576L0.310885 3.10942L3.40811 2.86174L4.60135 0Z" fill="currentColor"/>
    </svg>

  {% when 'plus' %}
    <svg
      class="{{ classes }}"
      width="10"
      height="10"
      viewBox="0 0 10 10"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M5 0C4.6315 0 4.33333 0.298177 4.33333 0.666667V4.33333H0.666667C0.298167 4.33333 0 4.63151 0 5C0 5.36849 0.298177 5.66667 0.666667 5.66667H4.33333V9.33333C4.33333 9.70183 4.63151 10 5 10C5.36849 10 5.66667 9.70182 5.66667 9.33333V5.66667H9.33333C9.70183 5.66667 10 5.36849 10 5C10 4.63151 9.70182 4.33333 9.33333 4.33333H5.66667V0.666667C5.66667 0.298167 5.36849 0 5 0Z" fill="currentColor"/>
    </svg>

  {% when 'basket' %}
    <svg
      class="{{ classes }}"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M12.3761 10.06H7.35315C7.1468 10.06 6.94319 10.1072 6.75789 10.198C6.57258 10.2888 6.4105 10.4208 6.28402 10.5838C6.15754 10.7469 6.07002 10.9367 6.02815 11.1387C5.98628 11.3408 5.99117 11.5498 6.04245 11.7496L7.43029 17.163C7.50499 17.4541 7.6745 17.7121 7.91207 17.8963C8.14964 18.0804 8.44176 18.1803 8.74235 18.18H16.0098C16.3101 18.18 16.6019 18.08 16.8392 17.8959C17.0765 17.7117 17.2458 17.4539 17.3205 17.163L18.709 11.7496C18.7603 11.5498 18.7651 11.3408 18.7233 11.1387C18.6814 10.9367 18.5939 10.7469 18.4674 10.5838C18.3409 10.4208 18.1788 10.2888 17.9935 10.198C17.8082 10.1072 17.6046 10.06 17.3983 10.06H12.3761ZM12.3761 10.06V6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'location-ping' %}
    <svg class="{{ classes }}" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.5414 19.7771C11.4262 19.7771 11.3109 19.7309 11.2184 19.6619C11.0106 19.4541 6 14.6974 6 10.5415C6 7.42456 8.42456 5 11.5415 5C14.6584 5 17.083 7.42456 17.083 10.5415C17.083 14.6974 12.0733 19.4541 11.8655 19.6619C11.7721 19.7309 11.6567 19.7771 11.5414 19.7771ZM11.5414 5.92463C8.95542 5.92463 6.92359 7.95631 6.92359 10.5425C6.92359 13.7284 10.4561 17.5612 11.5414 18.6692C12.6267 17.5612 16.1593 13.7284 16.1593 10.5425C16.1593 7.95646 14.1276 5.92463 11.5414 5.92463Z" fill="currentColor"/>
      <path d="M11.5415 12.389C10.5253 12.389 9.69409 11.5578 9.69409 10.5415C9.69409 9.52528 10.5253 8.69409 11.5415 8.69409C12.5578 8.69409 13.389 9.52528 13.389 10.5415C13.389 11.5578 12.5578 12.389 11.5415 12.389ZM11.5415 9.61862C11.0334 9.61862 10.6178 10.0342 10.6178 10.5423C10.6178 11.0505 11.0334 11.466 11.5415 11.466C12.0496 11.466 12.4652 11.0505 12.4652 10.5423C12.4652 10.0342 12.0496 9.61862 11.5415 9.61862Z" fill="currentColor"/>
    </svg>

  {% when 'sync' %}
    <svg class="{{ classes }}" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.66003 7.0032C9.83816 7.02289 9.99097 7.14008 10.0556 7.30788C10.1203 7.47476 10.0866 7.66414 9.96752 7.7982L9.21004 8.69071H17.04C18.1847 8.69071 18.96 9.63571 18.96 10.6107V13.4907C18.9619 13.6192 18.9122 13.7438 18.8222 13.8348C18.7313 13.9267 18.6085 13.9782 18.48 13.9782C18.3516 13.9782 18.2288 13.9267 18.1378 13.8348C18.0478 13.7438 17.9982 13.6192 18 13.4907V10.6107C18 10.112 17.6803 9.65071 17.04 9.65071H9.21003L9.96751 10.5357C10.051 10.6332 10.0913 10.7598 10.081 10.8873C10.0706 11.0157 10.0106 11.1338 9.9122 11.2163C9.8147 11.2988 9.68814 11.3391 9.56065 11.3288C9.43315 11.3176 9.31504 11.2566 9.23252 11.1582L7.79252 9.4782C7.63971 9.29914 7.63971 9.03569 7.79252 8.85569L9.23252 7.17569C9.33659 7.04913 9.49787 6.98445 9.66003 7.0032ZM6.53259 9.6432C6.78008 9.67039 6.96572 9.88226 6.96008 10.1307V13.0107C6.96008 13.5094 7.27976 13.9707 7.92008 13.9707H15.7501L14.9926 13.0782C14.8613 12.9301 14.8351 12.7154 14.926 12.5391C15.0179 12.3638 15.2082 12.2616 15.4051 12.2832C15.5307 12.2963 15.647 12.3582 15.7276 12.4557L17.1676 14.1357C17.3204 14.3157 17.3204 14.5791 17.1676 14.7582L15.7276 16.4382C15.5551 16.6407 15.2523 16.6651 15.0498 16.4935C14.8473 16.3219 14.822 16.0191 14.9926 15.8157L15.7501 14.9307H7.9201C6.77542 14.9307 6.0001 13.9857 6.0001 13.0107V10.1307C5.99729 9.99288 6.05354 9.85976 6.15573 9.76695C6.25791 9.6732 6.39572 9.6282 6.53259 9.6432Z" fill="currentColor"/>
    </svg>

  {% when 'switch' %}
    <svg class="{{ classes }}" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.1694 12.3308C18.1732 13.8108 17.6371 15.2403 16.6627 16.3536C15.6884 17.4669 14.3413 18.1871 12.8744 18.3787C11.4075 18.5703 9.92075 18.2214 8.69191 17.3967C7.464 16.5719 6.57829 15.3272 6.20099 13.897C5.82376 12.466 5.98107 10.9471 6.64313 9.62384C7.30443 8.30048 8.4262 7.2643 9.79694 6.70754C10.1032 6.60446 10.4361 6.75794 10.5575 7.05729C10.6789 7.35664 10.5461 7.69797 10.2551 7.83772C8.85156 8.40892 7.79469 9.60169 7.39609 11.0641C6.99747 12.5257 7.30369 14.0902 8.22387 15.2938C9.14403 16.4981 10.5729 17.2044 12.0879 17.2044C13.6029 17.2044 15.0318 16.4981 15.9519 15.2938C16.8721 14.0904 17.1783 12.5257 16.7797 11.0641C16.3811 9.60171 15.3242 8.40894 13.9207 7.83772C13.7611 7.78427 13.6305 7.66667 13.5602 7.51395C13.49 7.36046 13.4854 7.18559 13.5488 7.02904C13.6122 6.87326 13.7374 6.74955 13.8947 6.68923C14.0512 6.62814 14.2269 6.63501 14.3788 6.70755C15.5006 7.15886 16.4604 7.93546 17.1362 8.93808C17.812 9.93995 18.1717 11.1221 18.1694 12.3308ZM12.0848 11.9338C12.2467 11.9338 12.4025 11.8696 12.517 11.7551C12.6316 11.6405 12.6957 11.4848 12.6957 11.3229V5.6109C12.6957 5.27337 12.4223 5 12.0848 5C11.7473 5 11.4739 5.27337 11.4739 5.6109V11.3229C11.4739 11.4848 11.538 11.6405 11.6526 11.7551C11.7671 11.8696 11.9229 11.9338 12.0848 11.9338Z" fill="currentColor"/>
    </svg>

  {% when 'box' %}
    <svg
      class="{{ classes }}"
      width="24"
      height="25"
      viewBox="0 0 24 25"
      fill="transparent"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M2.22002 6.18707C2.09495 6.22176 1.98116 6.28865 1.89002 6.38107C1.77897 6.51661 1.71727 6.68586 1.71502 6.86107C1.24502 11.3761 1.23502 14.0861 1.71502 18.5681C1.71526 18.7275 1.76359 18.8831 1.85368 19.0146C1.94378 19.1461 2.07146 19.2473 2.22002 19.3051L11.714 23.0011L11.999 23.0801L12.285 23.0001L21.779 19.3061C21.9265 19.2467 22.0531 19.1451 22.143 19.0139C22.2328 18.8828 22.2819 18.728 22.284 18.5691C22.784 14.0321 22.79 11.4161 22.284 6.92107C22.2976 6.72461 22.2349 6.53048 22.109 6.37907C22.0261 6.26341 21.9115 6.17417 21.779 6.12207V6.12407" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.5 8.96997L12.285 11H11.714L2.21998 7.30497C2.09548 7.25488 1.98545 7.1745 1.89988 7.07112C1.81432 6.96774 1.75592 6.84464 1.72998 6.71297C1.75508 6.58958 1.81001 6.47422 1.88998 6.37697C1.98135 6.28528 2.09512 6.21909 2.21998 6.18497L6.96698 4.33797M17.5 8.96997L21.78 7.30497C21.9056 7.25602 22.0167 7.17589 22.1027 7.07215C22.1888 6.9684 22.2471 6.84445 22.272 6.71197H22.27C22.2447 6.58893 22.1898 6.47393 22.11 6.37697C22.0268 6.26151 21.9123 6.17231 21.78 6.11997L12.286 2.49097C12.1961 2.4512 12.0988 2.43066 12.0005 2.43066C11.9022 2.43066 11.8049 2.4512 11.715 2.49097L6.96698 4.33797M17.5 8.96997L6.96698 4.33797M12 23.08V11M15.5 17.715L19.5 16.215" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'car' %}
    <svg class="{{ classes }}" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_704_19177)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.88 2.99512C1.29655 2.99512 0 4.29167 0 5.87512V17.2751C0 18.8586 1.29655 20.1551 2.88 20.1551H3.48374C3.76219 21.4536 4.92187 22.4351 6.29991 22.4351C7.67794 22.4351 8.83767 21.4536 9.11607 20.1551H13.7435C14.022 21.4536 15.1816 22.4351 16.5597 22.4351C17.9377 22.4351 19.0974 21.4536 19.3758 20.1551H21.1196C22.703 20.1551 23.9996 18.8586 23.9996 17.2751V12.7151C23.9996 11.8723 23.8036 11.0407 23.4258 10.287L22.1658 7.76704C21.7524 6.93923 20.904 6.41517 19.9796 6.41517H16.0196V5.87517C16.0196 4.29172 14.723 2.99517 13.1396 2.99517L2.88 2.99512ZM2.88 4.19512H13.14C14.0747 4.19512 14.82 4.94044 14.82 5.87512V17.2648C14.2809 17.6754 13.89 18.2717 13.7437 18.9551H9.11631C8.83786 17.6567 7.67818 16.6751 6.30015 16.6751C4.92211 16.6751 3.76238 17.6567 3.48398 18.9551H2.88024C1.94556 18.9551 1.20024 18.2098 1.20024 17.2751V5.87512C1.20024 4.94044 1.94556 4.19512 2.88024 4.19512H2.88ZM16.02 7.61512H19.98C20.4525 7.61512 20.8819 7.88044 21.0937 8.30325L22.3537 10.8232C22.6472 11.4111 22.8 12.0589 22.8 12.7151V17.2751C22.8 18.2098 22.0547 18.9551 21.12 18.9551H19.3763C19.0978 17.6567 17.9381 16.6751 16.5601 16.6751C16.3754 16.6751 16.1954 16.6929 16.0201 16.7267L16.02 7.61512ZM6.3 17.8751C7.23468 17.8751 7.98 18.6204 7.98 19.5551C7.98 20.4898 7.23468 21.2351 6.3 21.2351C5.36532 21.2351 4.62 20.4898 4.62 19.5551C4.62 18.6204 5.36532 17.8751 6.3 17.8751ZM16.56 17.8751C17.4947 17.8751 18.24 18.6204 18.24 19.5551C18.24 20.4898 17.4947 21.2351 16.56 21.2351C15.6253 21.2351 14.88 20.4898 14.88 19.5551C14.88 18.6204 15.6253 17.8751 16.56 17.8751Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.88002 14.395C2.72065 14.395 2.56783 14.4578 2.45534 14.5703C2.34285 14.6828 2.28003 14.8357 2.28003 14.995C2.28003 15.1544 2.34284 15.3072 2.45534 15.4197C2.56784 15.5322 2.72066 15.595 2.88002 15.595H13.14C13.2994 15.595 13.4522 15.5322 13.5647 15.4197C13.6772 15.3072 13.74 15.1544 13.74 14.995C13.74 14.8357 13.6772 14.6828 13.5647 14.5703C13.4522 14.4578 13.2994 14.395 13.14 14.395H2.88002Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.84 8.69507C17.8865 8.69507 17.1 9.48162 17.1 10.4351V11.5751C17.1 12.5285 17.8865 13.3151 18.84 13.3151H19.98C20.9325 13.3151 21.63 12.3476 21.329 11.4438L20.91 10.1866C20.6128 9.29788 19.7765 8.69507 18.84 8.69507ZM18.84 9.89507C19.2647 9.89507 19.6368 10.1632 19.7709 10.5663L20.1909 11.8235C20.2434 11.9838 20.1487 12.1151 19.98 12.1151H18.84C18.5353 12.1151 18.3 11.8807 18.3 11.5751V10.4351C18.3 10.1295 18.5343 9.89507 18.84 9.89507Z" fill="currentColor"/>
      </g>
      <defs>
        <clipPath id="clip0_704_19177">
          <rect width="24" height="24" fill="transparent" transform="translate(0 0.715088)"/>
        </clipPath>
      </defs>
    </svg>

  {% when 'status-exclamation' %}
    <svg
      class="{{ classes }}"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="transparent"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M8 16C3.58309 16 -3.13224e-07 12.4171 -6.99382e-07 8C-1.08539e-06 3.58464 3.58553 1.08531e-06 8 6.99382e-07C12.4169 3.13243e-07 16 3.58286 16 8C16 12.4171 12.4187 16 8 16ZM8 9.75507C8.43613 9.75507 8.78714 10.1061 8.78714 10.5422C8.78714 10.9783 8.43615 11.3294 8 11.3294C7.56647 11.3294 7.21285 10.9784 7.21285 10.5422C7.21285 10.1061 7.56645 9.75507 8 9.75507ZM7.51521 4.66824C7.51521 4.03227 8.4848 4.03227 8.4848 4.66824L8.4848 8.38233C8.4848 9.0183 7.51521 9.0183 7.51521 8.38233L7.51521 4.66824ZM8 15.0305C11.8809 15.0305 15.0303 11.8811 15.0303 8.00022C15.0303 4.11666 11.8836 0.969946 8 0.969947C4.1191 0.969947 0.969723 4.11666 0.969723 8.00022C0.969723 11.8811 4.1191 15.0305 8 15.0305Z" fill="currentColor"/>
    </svg>

  {% when 'picto-pin' %}
    <svg
      aria-hidden="true"
      role="presentation"
      fill="none"
      focusable="false"
      stroke-width="1"
      width="32"
      height="32"
      class="{{ classes }}"
      viewBox="0 0 24 24"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.223 9.51c0 5.526-5.047 10.497-7.233 12.392a1.5 1.5 0 0 1-1.98 0C8.823 20.007 3.776 15.035 3.776 9.51a8.224 8.224 0 0 1 16.447 0Zm-4.855-.484a3.368 3.368 0 1 1-6.736 0 3.368 3.368 0 0 1 6.736 0Z" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'home' %}
    <svg
      class="{{ classes }}"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M19.6893 8.0856L12.4218 3.13008C12.1678 2.95664 11.8321 2.95664 11.5781 3.13008L4.30968 8.0856C3.4903 8.64434 3 9.57153 3 10.5634V17.9995C3.00187 19.6551 4.34438 20.9976 6 20.9995H18C19.6556 20.9976 20.9981 19.6551 21 17.9995V10.5634C21 9.57149 20.5096 8.64336 19.6893 8.0856ZM14.2789 19.4998H9.72086V15.4039C9.72086 14.1449 10.7418 13.1249 11.9999 13.1249C13.2581 13.1249 14.279 14.1449 14.279 15.4039L14.2789 19.4998ZM19.4999 17.9998C19.4999 18.3972 19.3415 18.7788 19.0602 19.0601C18.779 19.3413 18.3974 19.4998 17.9999 19.4998H15.779V15.4039C15.779 14.0539 15.059 12.8062 13.889 12.131C12.7199 11.456 11.2799 11.456 10.1109 12.131C8.94089 12.806 8.22089 14.0538 8.22089 15.4039V19.4998H5.99995C5.17121 19.4998 4.49995 18.8285 4.49995 17.9998V10.5636C4.50089 10.0686 4.74557 9.60547 5.15527 9.32611L12.0001 4.65739L18.8449 9.32419C19.2546 9.60357 19.5002 10.0676 19.5002 10.5636L19.4999 17.9998Z" fill="currentColor"/>
    </svg>

  {% when 'spin' %}
    <svg
      class="{{ classes }} spin-reverse"
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      :class="{ 'animate-spin' : loading}"
    >
      <g clip-path="url(#clip0_1158_597)">
        <path d="M7.99995 1.03516C3.75995 1.03516 0.319946 4.47516 0.319946 8.71516C0.319946 12.9552 3.75995 16.3952 7.99995 16.3952C12.2399 16.3952 15.6799 12.9552 15.6799 8.71516C15.6799 4.47516 12.2399 1.03516 7.99995 1.03516ZM12.8963 10.2515C12.8481 10.2834 12.8 10.2996 12.7681 10.2996C12.6881 10.2996 12.6081 10.2677 12.5763 10.1877L12.0325 9.38773C11.7125 11.324 10.0325 12.7959 8.01621 12.7959C6.55995 12.7959 5.21621 12.0121 4.47989 10.7477C4.12801 10.124 3.93614 9.4196 3.93614 8.71589C3.93614 6.45957 5.75982 4.63589 8.01614 4.63589C9.4724 4.63589 10.8161 5.41963 11.5525 6.68405C11.6162 6.79592 11.5843 6.9403 11.4725 7.00405C11.3606 7.0678 11.2162 7.03592 11.1525 6.92405C10.48 5.80342 9.27998 5.11525 7.99998 5.11525C6.0163 5.11525 4.39998 6.73157 4.39998 8.71525C4.39998 9.33899 4.55998 9.96337 4.87998 10.5071C5.51998 11.6108 6.71998 12.3152 7.99998 12.3152C9.82366 12.3152 11.3281 10.9552 11.5681 9.19525L10.6563 9.81899C10.5444 9.89899 10.4 9.86711 10.32 9.75524C10.24 9.64336 10.2719 9.49898 10.3838 9.41898L11.6638 8.53898C11.7119 8.49086 11.7756 8.45898 11.84 8.45898C11.92 8.45898 12 8.49086 12.0481 8.57086L12.96 9.9146C13.04 10.0271 13.0081 10.1715 12.8963 10.2515Z" fill="currentColor"/>
      </g>
      <defs>
        <clipPath id="clip0_1158_597">
          <rect width="16" height="16" fill="currentColor" transform="translate(0 0.715088)"/>
        </clipPath>
      </defs>
    </svg>

  {% when 'small-pin' %}
    <svg
      class="{{ classes }}"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M15.8571 7.92857C15.8571 11.6686 11.8185 16.1429 10.4485 17.5514C10.3907 17.6123 10.3212 17.6608 10.2441 17.6939C10.1669 17.727 10.0839 17.7441 9.99997 17.7441C9.91604 17.7441 9.83299 17.727 9.75587 17.6939C9.67875 17.6608 9.60918 17.6123 9.55139 17.5514C8.18139 16.1429 4.14282 11.6686 4.14282 7.92857C4.14282 4.65429 6.76568 2 9.99997 2C13.2343 2 15.8571 4.65571 15.8571 7.92857Z" stroke="currentColor"/>
      <path d="M10 9C10.5523 9 11 8.55228 11 8C11 7.44771 10.5523 7 10 7C9.44771 7 9 7.44771 9 8C9 8.55228 9.44771 9 10 9Z" stroke="currentColor"/>
      <path d="M10.0022 7.99573H9.99573V8.00216H10.0022V7.99573Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'confirmed' %}
    <svg
      class="{{ classes }}"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="currentColor"/>
      <path d="M13.1427 7L9.44845 12.56C9.40159 12.6307 9.33958 12.69 9.26693 12.7338C9.19429 12.7775 9.11281 12.8045 9.02843 12.8129C8.94404 12.8212 8.85885 12.8107 8.77905 12.782C8.69924 12.7533 8.62681 12.7073 8.56702 12.6471L5.99988 10.0714" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  {% when 'play-btn' %}
    <svg
      class="{{ classes }}"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M15 0C11.0214 0 7.206 1.58085 4.3935 4.3935C1.581 7.20615 0 11.0217 0 15C0 18.9783 1.58085 22.794 4.3935 25.6065C7.20615 28.419 11.0217 30 15 30C18.9783 30 22.794 28.4192 25.6065 25.6065C28.419 22.7939 30 18.9783 30 15C30 11.0217 28.4192 7.206 25.6065 4.3935C22.7939 1.581 18.9783 0 15 0ZM19.8024 15.4056L12.5415 19.5987C12.3962 19.6819 12.2181 19.6819 12.0728 19.5987C11.9274 19.5143 11.8384 19.3596 11.8384 19.1921V10.8086C11.8384 10.641 11.9274 10.4863 12.0728 10.4019C12.2181 10.3187 12.3962 10.3187 12.5415 10.4019L19.8024 14.5938V14.595C19.9477 14.6782 20.0368 14.8329 20.0368 15.0005C20.0368 15.168 19.9477 15.3227 19.8024 15.4059V15.4056Z" fill="currentColor"/>
    </svg>

  {% when 'pause-btn' %}
    <svg
      class="{{ classes }}"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M15 0C11.0214 0 7.206 1.58085 4.3935 4.3935C1.581 7.20615 0 11.0217 0 15C0 18.9783 1.58085 22.794 4.3935 25.6065C7.20615 28.419 11.0217 30 15 30C18.9783 30 22.794 28.4192 25.6065 25.6065C28.419 22.7939 30 18.9783 30 15C30 11.0217 28.4192 7.206 25.6065 4.3935C22.7939 1.581 18.9783 0 15 0ZM10 21H14V9H10V21ZM20 21H16V9H20V21Z" fill="currentColor"/>
    </svg>

  {% when 'arrow-right' %}
    <svg
      class="{{ classes }}"
      width="41"
      height="40"
      viewBox="0 0 41 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M35.914 18.5859L25.914 8.58594C25.7283 8.40025 25.5079 8.25296 25.2653 8.15246C25.0226 8.05197 24.7626 8.00024 24.5 8.00024C23.9696 8.00024 23.461 8.21093 23.086 8.58594C22.9003 8.77163 22.753 8.99208 22.6525 9.23469C22.552 9.47731 22.5003 9.73734 22.5003 9.99994C22.5003 10.5303 22.711 11.0389 23.086 11.4139L29.672 17.9999H6.5C5.96957 17.9999 5.46086 18.2107 5.08579 18.5857C4.71071 18.9608 4.5 19.4695 4.5 19.9999C4.5 20.5304 4.71071 21.0391 5.08579 21.4142C5.46086 21.7892 5.96957 21.9999 6.5 21.9999H29.672L23.086 28.5859C22.711 28.961 22.5003 29.4696 22.5003 29.9999C22.5003 30.5303 22.711 31.0389 23.086 31.4139C23.461 31.789 23.9696 31.9996 24.5 31.9996C25.0304 31.9996 25.539 31.789 25.914 31.4139L35.914 21.4139C36.0999 21.2284 36.2474 21.008 36.348 20.7653C36.4486 20.5227 36.5004 20.2626 36.5004 19.9999C36.5004 19.7373 36.4486 19.4772 36.348 19.2346C36.2474 18.9919 36.0999 18.7715 35.914 18.5859Z" fill="currentColor"/>
    </svg>

  {% when 'faq-chevron' %}
    <svg
      class="{{ classes }}"
      :class="isOpen ? 'rotate-180 text-sc-link-primary-text-default' : 'text-sc-title'"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M19.9173 23.8073C19.7148 23.7895 19.5226 23.708 19.3698 23.5748L10.4899 15.8948C10.2874 15.7308 10.1608 15.4908 10.1383 15.232C10.1158 14.9723 10.2002 14.7155 10.3708 14.5186C10.5415 14.3226 10.7852 14.2045 11.0449 14.1904C11.3046 14.1773 11.5596 14.2692 11.7499 14.4473L19.9998 21.5799L28.2498 14.4473C28.4401 14.2692 28.6942 14.1773 28.9538 14.1904C29.2144 14.2045 29.4573 14.3226 29.6279 14.5186C29.7994 14.7154 29.8829 14.9723 29.8604 15.232C29.8379 15.4908 29.7113 15.7308 29.5098 15.8948L20.6298 23.5748C20.433 23.7455 20.1761 23.8289 19.9173 23.8073Z" fill="currentColor"/>
    </svg>

  {% when 'calendar' %}
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1061_32374)">
        <path d="M5.375 1V3.877M10.458 1V3.877" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"/>
        <path d="M1.33105 7.19958H14.571M1 13.9979C1 15.0746 1.00004 15.1576 2.50006 15.1576C4.50001 15.1576 6.73455 15.1586 7.91705 15.1576C9.17305 15.1576 12 15.1576 13.5 15.1576C15 15.1576 15 15.1576 15 13.9978C15 12.9978 15 9.84658 15 8.70058C15 7.55358 15 4.68294 15 3.49806C15 2.24324 15 2.24235 13.5 2.24276C12 2.24321 9.09955 2.24161 7.91705 2.24258C6.73455 2.24161 3.50002 2.24276 2.50005 2.24258C1.00007 2.24258 1.0001 2.24268 1.00003 3.49796C0.999989 4.49796 1.00005 7.55358 1.00005 8.70058C1.00005 9.84658 1 11.9978 1 13.9979Z" stroke="currentColor" stroke-width="1.5"/>
      </g>
    </svg>

  {% when 'clockwise' %}
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1061_32380)">
        <path d="M7.22656 3.00781V7.99347C7.2275 8.16882 7.29747 8.33674 7.42131 8.46088L9.80197 10.8524L10.7492 9.90671L8.56802 7.72549V3.00781H7.22656Z" fill="currentColor"/>
        <path d="M13.6701 2.33859C12.6748 1.34488 11.4341 0.632586 10.0741 0.274213V0.261746C9.97755 0.23526 9.88095 0.221234 9.78436 0.199421C9.68776 0.177609 9.54754 0.144894 9.42913 0.12464C9.27333 0.0965953 9.11752 0.0747826 8.96172 0.0560864C8.86357 0.0451803 8.76697 0.0327142 8.67037 0.0249241C8.50211 0.0109019 8.33384 0.00467406 8.16558 0C8.07521 0 7.9864 0 7.8976 0C7.73245 0 7.56885 0.0109004 7.40526 0.0233646C7.30399 0.0233646 7.20428 0.0389531 7.10457 0.0514173C6.96123 0.0669975 6.81789 0.0888025 6.67455 0.112173C6.53121 0.135543 6.42527 0.157359 6.30218 0.183845C6.1791 0.210331 6.07939 0.235263 5.96877 0.264865C5.81297 0.305374 5.65716 0.348996 5.51071 0.398852C5.43281 0.423781 5.35491 0.451828 5.28012 0.479872C5.10251 0.543751 4.92801 0.613858 4.75507 0.690201C4.70366 0.712013 4.6538 0.736944 4.59927 0.760314C4.41231 0.847563 4.22846 0.941045 4.04773 1.04387L3.92776 1.11554C3.74859 1.22148 3.57409 1.33367 3.40271 1.45363C3.35597 1.48635 3.31079 1.52062 3.26561 1.5549C3.1098 1.67019 2.954 1.79016 2.7982 1.91792C2.73744 1.97089 2.67823 2.02698 2.61747 2.08151C2.52399 2.1672 2.42583 2.23731 2.33703 2.33547C2.29964 2.3713 2.27003 2.41182 2.23576 2.44765C2.17344 2.51153 2.11579 2.57852 2.05658 2.64395C1.94129 2.77171 1.826 2.90103 1.72005 3.03502C1.66864 3.10045 1.6219 3.16745 1.5736 3.23289C1.46298 3.37934 1.35548 3.52891 1.262 3.6816C1.22772 3.73613 1.19656 3.79222 1.16228 3.84831C1.05634 4.02125 0.955067 4.1973 0.863144 4.37959C0.841331 4.42165 0.822633 4.46528 0.802379 4.50735C0.705781 4.70677 0.615418 4.90776 0.535959 5.11342C0.520379 5.15393 0.507911 5.19287 0.493889 5.23338C0.415988 5.44371 0.34588 5.65717 0.286675 5.87373C0.286675 5.89243 0.274213 5.90956 0.269539 5.92826C0.250843 5.99837 0.236816 6.06848 0.221236 6.13859C0.18696 6.28193 0.154245 6.42527 0.127759 6.57172C0.0965983 6.74934 0.0685524 6.93007 0.0482982 7.1108C0.0405081 7.18247 0.0342753 7.25414 0.0280432 7.32581C0.012463 7.52679 0.00155802 7.72777 0 7.93031C0 7.95212 0 7.97394 0 7.99731C0 8.02068 0 8.01289 0 8.02224C0 8.27152 0.0140239 8.51769 0.0358361 8.7623C0.0358361 8.7919 0.0358325 8.81994 0.0467387 8.8511C0.0701089 9.06923 0.101272 9.28579 0.14178 9.49924C0.14957 9.53507 0.155803 9.57246 0.162035 9.6083C0.210334 9.842 0.26642 10.0757 0.334973 10.2969C0.345879 10.3343 0.358345 10.3702 0.370809 10.4076C0.430014 10.5976 0.497005 10.7846 0.57179 10.97C0.592044 11.0199 0.612302 11.0713 0.634115 11.1258C0.72448 11.3408 0.822632 11.5543 0.933252 11.7599L0.955066 11.7973C1.06257 11.9952 1.17942 12.1884 1.30406 12.3785C1.32743 12.4159 1.35236 12.4532 1.37729 12.4891C1.64902 12.8901 1.95726 13.2651 2.29808 13.6093C2.31366 13.6264 2.32768 13.6436 2.34482 13.6607C2.42116 13.7371 2.50062 13.8165 2.57385 13.8866L2.69849 14.0113H0.447151V15.3496H4.31103L4.97943 14.6812V10.8173H3.63641V13.0578L3.49775 12.9175C3.29151 12.7267 3.09791 12.5227 2.91817 12.3068C2.89636 12.2803 2.87143 12.2569 2.84962 12.232C2.68055 12.0215 2.52446 11.8009 2.38221 11.5714C2.34015 11.506 2.30431 11.439 2.26536 11.3735C2.16565 11.2022 2.07372 11.0292 1.98959 10.8532C1.9522 10.7737 1.91325 10.6974 1.88053 10.6148C1.78525 10.3935 1.70204 10.1673 1.63125 9.93704C1.60632 9.85135 1.58606 9.76254 1.56425 9.67373C1.51907 9.50079 1.47856 9.3263 1.44896 9.14868C1.4287 9.03495 1.41312 8.92121 1.3991 8.80748C1.38041 8.65167 1.36794 8.48653 1.36015 8.32605C1.36015 8.22478 1.34613 8.12351 1.34613 8.01445C1.34646 7.76722 1.35998 7.52018 1.38664 7.27439C1.39598 7.1887 1.41156 7.103 1.42403 7.01731C1.45519 6.81165 1.49414 6.60912 1.544 6.40813C1.56114 6.33491 1.57671 6.26167 1.59697 6.19001C1.63125 6.06381 1.67331 5.94072 1.71693 5.81764C1.74498 5.7335 1.77147 5.64937 1.80418 5.5668C1.85404 5.4406 1.91013 5.31596 1.95999 5.19288C1.99582 5.11809 2.02698 5.03708 2.06593 4.96696C2.1267 4.84544 2.1968 4.72703 2.26692 4.60862C2.30898 4.53851 2.34794 4.46684 2.39156 4.39828C2.46479 4.28299 2.54736 4.17393 2.62682 4.06176C2.67512 3.99632 2.72186 3.92932 2.77327 3.86388C2.8574 3.75794 2.94933 3.65355 3.04281 3.55228C3.09578 3.49308 3.14876 3.43231 3.19861 3.37466C3.30144 3.26716 3.4105 3.16589 3.51956 3.06306L3.66602 2.93063C3.79222 2.82313 3.92153 2.72341 4.05241 2.62682C4.0898 2.59877 4.12719 2.57073 4.16614 2.54425C4.30792 2.44298 4.45438 2.35105 4.60239 2.26225L4.70677 2.20148C4.85478 2.11735 5.00436 2.04568 5.15704 1.96934L5.29415 1.90545C5.43437 1.84313 5.57615 1.78705 5.71793 1.73564L5.9267 1.6624C6.04667 1.62345 6.16664 1.58918 6.28972 1.55646C6.38788 1.52997 6.48759 1.50505 6.58886 1.48324C6.69013 1.46142 6.77894 1.44584 6.87398 1.4287C7.00173 1.40689 7.12949 1.3882 7.25881 1.37417C7.33204 1.36483 7.40526 1.36015 7.48005 1.35392C7.62494 1.34301 7.7714 1.33522 7.91629 1.33366C7.98173 1.33366 8.04717 1.33366 8.1126 1.33366C8.26062 1.33366 8.41018 1.34145 8.5582 1.35392C8.63142 1.35392 8.70465 1.36949 8.77788 1.37884C8.91342 1.39442 9.04897 1.41312 9.18452 1.43649C9.28111 1.45518 9.37771 1.477 9.47275 1.49881C11.1133 1.87012 12.5526 2.84855 13.5014 4.2375C14.4502 5.62645 14.8382 7.323 14.5874 8.98628C14.3366 10.6496 13.4657 12.1563 12.1495 13.2038C10.8334 14.2513 9.16964 14.7618 7.49251 14.6329L6.31309 15.8123C6.87198 15.9349 7.44227 15.9981 8.01445 16.0009C9.59616 15.9961 11.1411 15.5231 12.4544 14.6416C13.7677 13.7601 14.7906 12.5095 15.3941 11.0475C15.9977 9.58541 16.1548 7.97741 15.8458 6.42617C15.5368 4.87494 14.7754 3.44992 13.6576 2.3308L13.6701 2.33859Z" fill="currentColor"/>
      </g>
    </svg>

  {% when 'author' %}
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1194_33384)">
        <path d="M12.2316 13.7499C11.006 14.6547 9.52209 15.1419 7.99862 15.1399C6.47516 15.1419 4.9913 14.6547 3.76562 13.7499C4.01301 12.816 4.56229 11.9901 5.32791 11.4009C6.09354 10.8117 7.03252 10.4922 7.99862 10.4922C8.96473 10.4922 9.90371 10.8117 10.6693 11.4009C11.435 11.9901 11.9842 12.816 12.2316 13.7499Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.052 13.0533C12.3934 13.7367 11.6052 14.282 10.7334 14.6574C9.86163 15.0327 8.92378 15.2306 7.97468 15.2394C7.02557 15.2481 6.08423 15.0677 5.20566 14.7085C4.32709 14.3493 3.52891 13.8187 2.85776 13.1475C2.18661 12.4764 1.65595 11.6782 1.29679 10.7996C0.93762 9.92107 0.757154 8.97973 0.76593 8.03062C0.774707 7.08151 0.972551 6.14367 1.3479 5.2719C1.72325 4.40012 2.26858 3.61189 2.95203 2.95327C4.29709 1.64037 6.10542 0.910544 7.98498 0.922008C9.86454 0.933472 11.6638 1.68531 12.9928 3.01451C14.3217 4.34372 15.0732 6.14316 15.0843 8.02272C15.0954 9.90228 14.3652 11.7105 13.052 13.0553V13.0533ZM9.55203 7.40727C9.34861 7.61082 9.10709 7.77231 8.84127 7.88252C8.57544 7.99273 8.29051 8.0495 8.00274 8.04959C7.71497 8.04968 7.43 7.9931 7.1641 7.88306C6.8982 7.77302 6.65658 7.61169 6.45303 7.40827C6.24948 7.20485 6.08799 6.96333 5.97778 6.6975C5.86757 6.43168 5.8108 6.14674 5.81071 5.85897C5.81061 5.57121 5.8672 5.28624 5.97724 5.02034C6.08728 4.75444 6.24861 4.51282 6.45203 4.30927C6.86285 3.89845 7.42004 3.66765 8.00103 3.66765C8.58202 3.66765 9.13921 3.89845 9.55003 4.30927C9.96085 4.72009 10.1916 5.27728 10.1916 5.85827C10.1916 6.43926 9.96085 6.99645 9.55003 7.40727H9.55203Z" fill="currentColor" fill-opacity="0.1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </svg>

  {% when 'a-calendar' %}
    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1194_33392)">
        <path d="M5.375 1V3.877M10.458 1V3.877" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M1.331 8.83203H14.571M1.224 13.703C1.407 15.334 2.732 16.628 4.371 16.707C5.55216 16.7633 6.7345 16.791 7.917 16.79C9.173 16.79 10.33 16.762 11.463 16.707C13.102 16.628 14.427 15.333 14.609 13.703C14.733 12.604 14.834 11.479 14.834 10.333C14.834 9.18603 14.732 8.06002 14.609 6.96202C14.427 5.33102 13.102 4.03702 11.463 3.95802C10.2818 3.90173 9.0995 3.87405 7.917 3.87502C6.7345 3.87405 5.55216 3.90173 4.371 3.95802C2.732 4.03702 1.407 5.33202 1.224 6.96202C1.101 8.06002 1 9.18603 1 10.333C1 11.479 1.102 12.605 1.224 13.703Z" stroke="currentColor" stroke-width="1.5"/>
        <path d="M14.1922 8.48628H1.48438L1.66152 3.40443L7.76157 2.90625L14.1912 3.40443V8.48628H14.1922Z" fill="currentColor" fill-opacity="0.1"/>
      </g>
    </svg>

  {% when 'help-chevron' %}
    <svg
      class="{{ classes }}"
      :class="isOpen ? 'rotate-180 text-sc-link-primary-text-default' : 'text-sc-title'"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8379 8.79724L12.5154 13.2358L8.16315 8.79724C7.58335 8.18769 6.59657 9.1745 7.17636 9.78403L12.1083 14.8322C12.3118 15.0357 12.6881 15.0645 12.8916 14.861L17.8236 9.78408C18.4033 9.17452 17.4175 8.1887 16.8368 8.79729L16.8379 8.79724Z" fill="currentColor"/>
    </svg>

  {% when 'filter-ranges' %}
    <svg
      class="{{ classes }}"
      width="20"
      height="14"
      viewBox="0 0 20 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1867_40394)">
        <path d="M1 2C0.447715 2 0 2.44772 0 3C0 3.55228 0.447715 4 1 4V2ZM1 4H5V2H1V4Z" fill="currentColor"/>
        <path d="M1.36364 10C0.61052 10 0 10.4477 0 11C0 11.5523 0.61052 12 1.36364 12V10ZM1.36364 12H15V10H1.36364V12Z" fill="currentColor"/>
        <path d="M6.36364 2H5V4H6.36364V2ZM18.6364 4C19.3895 4 20 3.55228 20 3C20 2.44772 19.3895 2 18.6364 2V4ZM6.36364 4H18.6364V2H6.36364V4Z" fill="currentColor"/>
        <path d="M16 10H15V12H16V10ZM19 12C19.5523 12 20 11.5523 20 11C20 10.4477 19.5523 10 19 10V12ZM16 12H19V10H16V12Z" fill="currentColor"/>
        <path class="group-focus:-translate-x-1.5 group-hover:-translate-x-1.5 duration-300 ease-in-out" d="M13 13C14.1046 13 15 12.1046 15 11C15 9.89543 14.1046 9 13 9C11.8954 9 11 9.89543 11 11C11 12.1046 11.8954 13 13 13Z" fill="current" stroke="currentColor" stroke-width="2"/>
        <path class="group-focus:translate-x-1.5 group-hover:translate-x-1.5 duration-300 ease-in-out" d="M7 5C8.10457 5 9 4.10457 9 3C9 1.89543 8.10457 1 7 1C5.89543 1 5 1.89543 5 3C5 4.10457 5.89543 5 7 5Z" fill="current" stroke="currentColor" stroke-width="2"/>
      </g>
    </svg>

  {% when 'checkmark' %}
    <svg
      class="{{ classes }}"
      width="22"
      height="22"
      viewBox="0 0 22 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="0.5" y="0.5" width="21" height="21" rx="5.5" fill="transparent"/>
      <path d="M9.65867 14.4391H9.64312C9.48377 14.4352 9.33296 14.3676 9.22413 14.2518L5.97729 10.8025C5.75109 10.5624 5.76275 10.1847 6.00294 9.95849C6.24314 9.73233 6.62093 9.74399 6.84713 9.98414L9.68125 12.9943L15.1746 7.72709C15.4124 7.49938 15.7902 7.50636 16.0188 7.74497C16.2473 7.98279 16.2387 8.36052 16.0009 8.58901L10.0721 14.2726C9.96099 14.3799 9.81257 14.4391 9.65867 14.4391Z" fill="currentColor"/>
      <rect x="0.5" y="0.5" width="21" height="21" rx="5.5" stroke="transparent"/>
    </svg>

  {% when 'chevron-mini' %}
    <svg class="{{ classes }}" width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_450_39269)">
        <path d="M1 1.5L4 4.5L7 1.5" stroke="currentColor" stroke-width="1.5"/>
      </g>
    </svg>

  {% when 'empty' %}
    <svg
      class="{{ classes }}"
      xmlns="http://www.w3.org/2000/svg"
      width="800px"
      height="800px"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path d="M14 16.3333V21H15L21 15V14H16.3333C15.2334 14 14.6834 14 14.3417 14.3417C14 14.6834 14 15.2334 14 16.3333Z" fill="currentColor" fill-opacity="0.24"/>
      <path d="M14.1716 21H7C5.11438 21 4.17157 21 3.58579 20.4142C3 19.8284 3 18.8856 3 17V7C3 5.11438 3 4.17157 3.58579 3.58579C4.17157 3 5.11438 3 7 3H17C18.8856 3 19.8284 3 20.4142 3.58579C21 4.17157 21 5.11438 21 7V14.1716C21 14.5803 21 14.7847 20.9239 14.9685C20.8478 15.1522 20.7032 15.2968 20.4142 15.5858L15.5858 20.4142C15.2968 20.7032 15.1522 20.8478 14.9685 20.9239C14.7847 21 14.5803 21 14.1716 21Z" stroke="currentColor" stroke-width="1.2"/>
      <path d="M14 21V16.3333C14 15.2334 14 14.6834 14.3417 14.3417C14.6834 14 15.2334 14 16.3333 14H21" stroke="currentColor" stroke-width="1.2"/>
    </svg>

  {% when 'serach-not-found' %}
    <svg class="{{ classes }}" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 11.493C5.50364 8.39226 7.69698 5.72579 10.7388 5.12416C13.7807 4.52253 16.8239 6.15327 18.0077 9.0192C19.1915 11.8851 18.186 15.1881 15.6063 16.9085C13.0265 18.6288 9.59077 18.2874 7.4 16.093C6.18148 14.8725 5.49799 13.2177 5.5 11.493Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M16.062 16.568L19.5 19.993" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M10.5303 8.96271C10.2374 8.66982 9.76256 8.66982 9.46967 8.96271C9.17678 9.25561 9.17678 9.73048 9.46967 10.0234L10.5303 8.96271ZM11.4697 12.0234C11.7626 12.3163 12.2374 12.3163 12.5303 12.0234C12.8232 11.7305 12.8232 11.2556 12.5303 10.9627L11.4697 12.0234ZM12.5303 10.9627C12.2374 10.6698 11.7626 10.6698 11.4697 10.9627C11.1768 11.2556 11.1768 11.7305 11.4697 12.0234L12.5303 10.9627ZM13.4697 14.0234C13.7626 14.3163 14.2374 14.3163 14.5303 14.0234C14.8232 13.7305 14.8232 13.2556 14.5303 12.9627L13.4697 14.0234ZM12.5303 12.0234C12.8232 11.7305 12.8232 11.2556 12.5303 10.9627C12.2374 10.6698 11.7626 10.6698 11.4697 10.9627L12.5303 12.0234ZM9.46967 12.9627C9.17678 13.2556 9.17678 13.7305 9.46967 14.0234C9.76256 14.3163 10.2374 14.3163 10.5303 14.0234L9.46967 12.9627ZM11.4697 10.9627C11.1768 11.2556 11.1768 11.7305 11.4697 12.0234C11.7626 12.3163 12.2374 12.3163 12.5303 12.0234L11.4697 10.9627ZM14.5303 10.0234C14.8232 9.73048 14.8232 9.25561 14.5303 8.96271C14.2374 8.66982 13.7626 8.66982 13.4697 8.96271L14.5303 10.0234ZM9.46967 10.0234L11.4697 12.0234L12.5303 10.9627L10.5303 8.96271L9.46967 10.0234ZM11.4697 12.0234L13.4697 14.0234L14.5303 12.9627L12.5303 10.9627L11.4697 12.0234ZM11.4697 10.9627L9.46967 12.9627L10.5303 14.0234L12.5303 12.0234L11.4697 10.9627ZM12.5303 12.0234L14.5303 10.0234L13.4697 8.96271L11.4697 10.9627L12.5303 12.0234Z" fill="currentColor"></path>
      </g>
    </svg>
{% endcase %}
