<h2 class="font-primary smD:text-5xl text-sc-title mb-6 text-3xl font-medium md:text-4xl 2xl:text-5xl">
  {{ 'customer.reset_password.title' | t }}
</h2>

<div class="text-sc-body-primary mb-5 text-base">
  {{ 'customer.reset_password.subtext' | t }}
</div>

<form @submit.prevent="resetFormSubmit()">
  <div x-show="statusState" data-status-paste class="mb-4"></div>

  {% assign placeholder = 'form.email' | t %}
  {%- render 'input',
    name: 'customer[email]',
    label: placeholder,
    type: 'text',
    required: true,
    autocomplete: 'email',
    x_model: 'loginEmail',
    x_input: 'clearStatus()'
  -%}

  <div class="md:mt-7.5 mt-5 flex flex-col">
    <button
      type="submit"
      :aria-busy="loading"
      class="w-full md:min-h-[52px] md:text-lg {% render 'btn-class', btn: 'btn_primary_pill_fill' %}"
    >
      <span>{{ 'customer.reset_password.submit' | t }}</span>
      {% render 'btn-loader' %}
    </button>

    <div class="md:mt-7.5 border-sc-title/20 pt-7.5 mt-5 flex w-full w-full space-x-2 border-t">
      <span class="text-sc-title text-base">{{ 'customer.login.have_an_account' | t }}</span>
      <button
        {% if request.page_type contains 'customers/' %}
          @click.prevent="login_tab = 'login'; changeUrl('/account/login')"
        {% else %}
          @click.prevent="login_tab = 'login'"
        {% endif %}
        class="w-max max-w-full text-base {% render 'btn-class', btn: 'link_primary' %}"
      >
        <span class="text-base">{{ 'customer.login.sign_in' | t }}</span>
      </button>
    </div>
  </div>
</form>
