<h2 class="font-primary smD:text-5xl text-sc-title mb-6 text-3xl font-medium md:text-4xl 2xl:text-5xl">
  {{ 'customer.activate_account.title' | t }}
</h2>

<div class="text-sc-body-primary mb-5 text-base">
  {{ 'customer.activate_account.subtext' | t }}
</div>

{% form 'activate_customer_password', x-data: 'nativeForm()' %}
  {% if form.errors %}
    {% capture error_text %}
      {{ form.errors | default_errors }}
    {% endcapture %}

    <div data-status-paste class="mb-4">
      {%- render 'layout-message', status: 'error', content: error_text -%}
    </div>
  {% endif %}

  {% assign placeholder = 'customer.activate_account.password' | t %}
  {%- render 'input',
    name: 'customer[password]',
    label: placeholder,
    type: 'password',
    required: true,
    autocomplete: 'password',
    x_model: 'password',
    x_input: 'clearStatus();',
    class: 'mb-3'
  -%}

  {% assign placeholder = 'customer.activate_account.password_confirm' | t %}
  {%- render 'input',
    name: 'customer[password_confirmation]',
    label: placeholder,
    type: 'password',
    required: true,
    autocomplete: 'password',
    x_model: 'passwordConfirmation',
    x_input: 'clearStatus();'
  -%}

  <div class="md:mt-7.5 mt-5 flex flex-col">
    <button
      type="submit"
      :aria-busy="loading"
      class="w-full md:min-h-[52px] md:text-lg {% render 'btn-class', btn: 'btn_primary_pill_fill' %}"
    >
      <span>{{ 'customer.activate_account.submit' | t }}</span>
      {% render 'btn-loader' %}
    </button>

    <a
      href="{{ shop.url }}"
      class="w-max mx-auto mt-3 md:mt-7.5 max-w-full {% render 'btn-class', btn: 'link_primary' %}"
    >
      <span>{{ 'customer.activate_account.cancel' | t }}</span>
    </a>
  </div>
{% endform %}
