<h2 class="font-primary smD:text-5xl text-sc-title mb-6 text-3xl font-medium md:text-4xl 2xl:text-5xl">
  {{ 'customer.login.sign_in' | t }}
</h2>

<div class="text-sc-body-primary mb-5 text-base">
  {{ 'customer.login.welcome_text' | t }}
</div>

<form @submit.prevent="loginFormSubmit()">
  <div x-show="statusState" data-status-paste class="mb-4"></div>

  {% assign placeholder = 'form.email' | t %}
  {%- render 'input',
    name: 'customer[email]',
    label: placeholder,
    type: 'text',
    required: true,
    autocomplete: 'email',
    x_model: 'loginEmail',
    x_input: 'clearStatus()',
    class: 'mb-3'
  -%}

  {% assign placeholder = 'form.password' | t %}
  {%- render 'input',
    name: 'customer[password]',
    label: placeholder,
    type: 'password',
    required: true,
    autocomplete: 'password',
    x_model: 'loginPassword',
    x_input: 'clearStatus()'
  -%}

  <div class="md:mt-7.5 mt-5 flex flex-col">
    <button
      type="submit"
      :aria-busy="loading"
      class="w-full md:min-h-[52px] md:text-lg {% render 'btn-class', btn: 'btn_primary_pill_fill' %}"
    >
      <span>{{ 'customer.login.sign_in' | t }}</span>
      {% render 'btn-loader' %}
    </button>

    {% if cancel_btn %}
      <button
        type="button"
        class="w-max mx-auto mt-3 md:mt-7.5 max-w-full {% render 'btn-class', btn: 'link_primary' %}"
      >
        <span>{{ 'customer.login.cancel' | t }}</span>
      </button>
    {% endif %}

    <div class="md:mt-7.5 border-sc-title/20 pt-7.5 mt-5 w-full space-y-3 border-t">
      <div class="flex w-full space-x-2">
        <span class="text-sc-title text-base">{{ 'customer.login.new_customer_label' | t }}</span>
        <button
          {% if request.page_type contains 'customers/' %}
            @click.prevent="login_tab = 'register'; changeUrl('/account/register')"
          {% else %}
            @click.prevent="login_tab = 'register'"
          {% endif %}
          class="w-max max-w-full {% render 'btn-class', btn: 'link_primary' %}"
        >
          <span class="text-base">{{ 'customer.login.create_account' | t }}</span>
        </button>
      </div>
      <div class="flex w-full space-x-2">
        <span class="text-sc-title text-base">{{ 'customer.login.trouble_login' | t }}</span>
        <button
          {% if request.page_type contains 'customers/' %}
            @click.prevent="login_tab = 'forgot_password'; changeUrl('/account')"
          {% else %}
            @click.prevent="login_tab = 'forgot_password'"
          {% endif %}
          class="w-max max-w-full {% render 'btn-class', btn: 'link_primary' %}"
        >
          <span class="text-base">{{ 'customer.login.forgot_password' | t }}</span>
        </button>
      </div>
    </div>
  </div>
</form>
