{% liquid
  assign navigation_mode = section.settings.navigation_mode
  assign scrolling_speed = section.settings.scrolling_speed | append: 's'

  assign blocks = section.blocks
%}

{% render 'global-sections-css-variables-setter' %}

<div
  x-cloak
  data-section-id="{{ section.id }}"
  class="bg-sc-bg-primary relative overflow-hidden py-3"
>
  {% if navigation_mode == 'scrolling' %}
    <style>
      [data-section-id='{{ section.id }}'] .marquee {
        animation-duration: {{ scrolling_speed }};
      }
    </style>
    <div data-marquee-inner class="">
      <ul x-data="marquee" class="marquee absolute left-0 flex w-full items-center">
        {% for block in blocks %}
          {% assign text = block.settings.text %}
          {% assign url = block.settings.url %}
          <li
            data-marquee-el
            class="text-sc-body-primary mx-1.5 flex items-center space-x-2.5 whitespace-nowrap text-sm text-white md:text-base"
          >
            {% if url != blank %}
              <a class="underline" href="{{ url }}">{{ text }}</a>
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            {% else %}
              <span>{{ text }}</span>
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <!-- Slider main container -->
    <style>
      [data-section-id="{{ section.id }}"] .swiper-button-next::after,
      [data-section-id="{{ section.id }}"] .swiper-button-prev::after {
        content: "";
      }
    </style>

    <div
      x-ignore
      ax-load
      x-data="swiperSlider($el, 'announcement_bar')"
      class="swiper mx-auto max-w-lg"
    >
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for block in blocks %}
          {% assign text = block.settings.text %}
          {% assign url = block.settings.url %}
          <div class="swiper-slide text-sc-body-primary text-center text-sm text-white md:text-base">
            {% if url != blank %}
              <a class="underline" href="{{ url }}">{{ text }}</a>
            {% else %}
              <span>{{ text }}</span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <!-- If we need navigation buttons -->
      <button
        type="button"
        class="swiper-button-prev"
        aria-label="Slide previous"
      >
        {% render 'icon', name: 'chevron', class: '-rotate-180 w-6 h-6 md:w-10 md:h-10 text-sc-body-primary' %}
      </button>
      <button
        type="button"
        class="swiper-button-next"
        aria-label="Slide next"
      >
        {% render 'icon', name: 'chevron', class: 'w-6 h-6 md:w-10 md:h-10 text-sc-body-primary' %}
      </button>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "tag": "aside",
  "class": "relative z-50 announcement-bar",
  "settings": [
    {
      "type": "color",
      "id": "sc-bg-primary",
      "label": "Bg primary",
      "default": "#0D1E0A"
    },
    {
      "type": "color",
      "id": "sc-body-primary",
      "label": "Body",
      "default": "#FFFFFF",
      "info": "Links will be highlighted with underline"
    },
    {
      "type": "select",
      "id": "navigation_mode",
      "label": "Multiple message navigation",
      "options": [
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "scrolling",
          "label": "Auto-scrolling"
        }
      ],
      "default": "scrolling"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "label": "Scrolling speed",
      "min": 10,
      "max": 30,
      "unit": "s",
      "default": 20
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Announce something here"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
