{% liquid
  assign color_scheme = section.settings.color_scheme
  assign btn_type = section.settings.btn_type | default: 'btn_primary_pill_fill'
%}

<div class="color-scheme-{{- color_scheme }} bg-sc-bg-primary bg-primary-gradient">
  {% render 'account-navigation' %}

  {% comment %}OLD LAYOUT - narrow-container smD:pt-14 px-7.5 md:px-15 smD:px-25 smD:max-w-[1100px] 2xl:px-7.5 2k:max-w-[1150px] smD:pb-20 flex py-10 2xl:py-20{% endcomment %}

  <div class="narrow-container smD:pt-14 px-7.5 md:px-15 smD:px-25 smD:max-w-7xl 2xl:px-7.5 smD:pb-20 flex py-10 2xl:py-20">
    {% render 'account-navigation-aside' %}
    <div class="2xl:pl-12.5 border-sc-subtitle/10 w-full 2xl:border-l">
      <h1 class="smD:text-4xl font-secondary text-sc-title mb-5 text-3xl font-medium md:mb-10">
        {{- 'customer.addresses.menage' | t -}}
      </h1>

      {%- paginate customer.addresses by 16 -%}
        {%- if customer.addresses_count == 0 -%}
          <div class="md:mt-15 mt-10 grid justify-center gap-5 text-center">
            <div class="relative mx-auto w-max">
              {%- render 'icon', name: 'picto-pin', class: 'md:h-12 md:w-12 block' -%}
              <span class="bg-sc-title text-sc-bg-primary absolute -top-1.5 -right-1.5 flex h-5 w-5 items-center justify-center rounded-full text-xs md:h-7 md:w-7">
                0
              </span>
            </div>

            <div>
              <h3 class="text-sc-title text-base font-medium">{{ 'customer.addresses.no_addresses' | t }}</h3>

              <button
                @click="$store.drawer.show({ id: 'customer-address-new'})"
                class="mx-auto mt-10 {% render 'btn-class', btn: btn_type %}"
              >
                {{- 'customer.addresses.add' | t -}}
              </button>
            </div>
          </div>
        {%- else -%}
          <div class="smD:gap-5 grid grid-cols-1 gap-5 md:grid-cols-3 md:gap-2.5">
            {%- for address in customer.addresses -%}
              <div class="{%- if address == customer.default_address -%} border-sc-title {%- else -%} border-sc-title/20 {%- endif %} hover:border-sc-title flex w-full flex-col border-[2px] p-5 text-left duration-300 ease-in-out">
                <p class="text-sc-title mb-2.5 flex items-center space-x-2 text-sm font-medium">
                  {% render 'icon', name: 'home' %}
                  <span>
                    {%- if address == customer.default_address -%}
                      {{ 'customer.addresses.default' | t }}
                    {%- else -%}
                      {{ 'customer.addresses.address_title' | t: position: forloop.index }}
                    {%- endif -%}
                  </span>
                </p>

                <div class="rte-p:text-sm rte-p:text-sc-body-primary mb-2.5">
                  {{- address | format_address -}}
                </div>

                <div class="mt-auto flex items-center space-x-3">
                  <button
                    type="button"
                    @click="$store.drawer.show({ id: 'customer-address-{{ address.id }}'})"
                    aria-controls="customer-address-{{ address.id }}"
                    aria-expanded="false"
                  >
                    <span class="text-sc-title/30 hover:text-sc-title text-sm duration-300 ease-in-out">
                      {{- 'customer.addresses.edit' | t -}}
                    </span>
                  </button>

                  <form
                    x-data="
                      {
                        submit() {
                           if (confirm('Are you sure you want to delete the address?')) {
                            this.$el.submit()
                           }
                        }
                      }
                    "
                    @submit.prevent="submit();"
                    method="post"
                    action="{{ address.url }}"
                  >
                    <input type="hidden" name="_method" value="delete">
                    <button
                      is="confirm-button"
                      data-message="{{ 'customer.addresses.delete_confirm' | t | escape }}"
                    >
                      <span class="text-sc-title/30 hover:text-sc-title text-sm duration-300 ease-in-out">
                        {{- 'customer.addresses.delete' | t -}}
                      </span>
                    </button>
                  </form>
                </div>
              </div>
            {%- endfor -%}
          </div>

          <button
            @click="$store.drawer.show({ id: 'customer-address-new'})"
            class="mx-auto mt-10 {% render 'btn-class', btn: btn_type %}"
          >
            {{- 'customer.addresses.add' | t -}}
          </button>

          {% render 'layout-pagination', paginate: paginate %}
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>

  {%- render 'address-form', address: customer.new_address -%}

  {%- for address in customer.addresses -%}
    {%- render 'address-form', address: address -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Customer addresses",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section colors"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Section button type",
      "options": [
        {
          "value": "btn_primary_main_fill",
          "label": "main primary fill"
        },
        {
          "value": "btn_secondary_main_fill",
          "label": "main secondary fill"
        },
        {
          "value": "btn_primary_main_outline",
          "label": "main primary outline"
        },
        {
          "value": "btn_secondary_main_outline",
          "label": "main secondary outline"
        },
        {
          "value": "btn_primary_pill_fill",
          "label": "pill primary fill"
        },
        {
          "value": "btn_secondary_pill_fill",
          "label": "pill secondary fill"
        },
        {
          "value": "btn_primary_pill_outline",
          "label": "pill primary outline"
        },
        {
          "value": "btn_secondary_pill_outline",
          "label": "pill secondary outline"
        },
        {
          "value": "link_primary",
          "label": "Link primary"
        },
        {
          "value": "link_secondary",
          "label": "Link secondary"
        }
      ],
      "default": "btn_primary_pill_fill"
    }
  ]
}
{% endschema %}
