{% liquid
  assign section_anchor_id = section.settings.section_anchor_id | handleize
  assign color_scheme = section.settings.color_scheme

  assign title = section.settings.title
  assign subtitle = section.settings.subtitle

  assign image = section.settings.image
  assign banner_title = section.settings.banner_title
  assign banner_subtitle = section.settings.banner_subtitle
  assign button_url = section.settings.button_url
  assign button_text = section.settings.button_text
  assign button_type = section.settings.button_type

  assign blocks = section.blocks

  assign pt_mob = section.settings.pt_mob
  assign pb_mob = section.settings.pb_mob
  assign pt_tab = section.settings.pt_tab
  assign pb_tab = section.settings.pb_tab
  assign pt_desk = section.settings.pt_desk
  assign pb_desk = section.settings.pb_desk
%}

{% render 'section-paddings',
  section_id: section.id,
  pt_mob: pt_mob,
  pb_mob: pb_mob,
  pt_tab: pt_tab,
  pb_tab: pb_tab,
  pt_desk: pt_desk,
  pb_desk: pb_desk
%}

<div
  id="{{ section_anchor_id }}"
  data-section-id="{{ section.id }}"
  class="color-scheme-{{ color_scheme }} bg-sc-bg-primary bg-primary-gradient"
>
  <div
    class="animate__animated opacity-0 space-y-7.5 md:space-y-10 2xl:space-y-15 4k:max-w-[1840px] container {% if image != blank or banner_title != blank or banner_subtitle != blank or button_text != blank -%}2xl:pb-12.5 pb-10{%- endif -%}"
    x-intersect="$el.classList.add('animate__fadeIn')"
  >
    {% if title != blank or subtitle != blank %}
      <div class="space-y-3">
        {% if title != blank %}
          <h2 class="text-sc-title font-primary 2k:text-6xl text-4xl font-medium md:text-5xl">
            {{- title -}}
          </h2>
        {% endif %}

        {% if subtitle != blank %}
          <div class="rte child-br:hidden smD:child-br:block text-sc-body-primary text-base md:text-lg">
            {{- subtitle -}}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if blocks.size > 0 %}
      <div class="gap-7.5 smD:gap-x-10 grid grid-cols-1 items-baseline md:grid-cols-2 md:gap-y-10">
        {% for block in blocks %}
          {% assign question = block.settings.question %}
          {% assign answer = block.settings.answer %}

          <article>
            <span class="font-primary text-sc-subtitle text-xl font-medium">
              {{ question }}
            </span>
            <div class="pt-2 md:pt-4">
              <div class="rte text-sc-body-primary text-sm md:text-base">{{ answer }}</div>
            </div>
          </article>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if image != blank or banner_title != blank or banner_subtitle != blank or button_text != blank %}
    <div
      class="animate__animated 4k:max-w-[1840px] opacity-0 md:container"
      x-intersect="$el.classList.add('animate__fadeIn')"
    >
      <div class="bg-sc-bg-secondary bg-secondary-gradient p-7.5 space-y-5 md:flex md:items-center md:space-y-0 md:space-x-5 md:p-10">
        {% if image != blank %}
          <div class="h-12.5 w-12.5 mx-auto shrink-0 md:m-0 md:h-[70px] md:w-[70px] {% if banner_title == blank or banner_subtitle == blank -%}md:mr-auto{%- endif -%}">
            {{
              image
              | image_url: width: 140
              | image_tag:
                alt: image.alt,
                class: 'h-full w-full object-cover rounded-full',
                loading: 'lazy',
                widths: '100, 140'
            }}
          </div>
        {% endif %}

        {% if banner_title != blank or banner_subtitle != blank %}
          <div class="smD:space-y-3 flex-1 space-y-1 text-center md:mr-auto md:text-left">
            {% if banner_title != blank %}
              <h4 class="text-sc-subtitle font-primary text-2xl font-medium">{{- banner_title -}}</h4>
            {% endif %}

            {% if banner_subtitle != blank %}
              <div class="rte text-sc-body-primary text-base">{{- banner_subtitle -}}</div>
            {% endif %}
          </div>
        {% endif %}

        {% if button_text != blank %}
          <a
            href="{{ button_url }}"
            class="{% render 'btn-class', btn: button_type %} mx-auto shrink-0"
            aria-label="{{ button_text }}"
          >
            <span>
              {{- button_text -}}
            </span>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "FAQ multicolumn",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_anchor_id",
      "label": "Section anchor id",
      "default": "FAQ multicolumn"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Content settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Frequently asked questions"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Section subtitle"
    },
    {
      "type": "header",
      "content": "Bottom Banner settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner title",
      "default": "Still have questions? "
    },
    {
      "type": "richtext",
      "id": "banner_subtitle",
      "label": "Banner subtitle",
      "default": "<p>If you can't find the answer you're looking for, please feel free to chat with our friendly team.</p>"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Banner button url"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Banner button text",
      "default": "Button text"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Banner button type",
      "options": [
        {
          "value": "btn_primary_main_fill",
          "label": "main primary fill"
        },
        {
          "value": "btn_secondary_main_fill",
          "label": "main secondary fill"
        },
        {
          "value": "btn_primary_main_outline",
          "label": "main primary outline"
        },
        {
          "value": "btn_secondary_main_outline",
          "label": "main secondary outline"
        },
        {
          "value": "btn_primary_pill_fill",
          "label": "pill primary fill"
        },
        {
          "value": "btn_secondary_pill_fill",
          "label": "pill secondary fill"
        },
        {
          "value": "btn_primary_pill_outline",
          "label": "pill primary outline"
        },
        {
          "value": "btn_secondary_pill_outline",
          "label": "pill secondary outline"
        },
        {
          "value": "link_primary",
          "label": "Link primary"
        },
        {
          "value": "link_secondary",
          "label": "Link secondary"
        }
      ],
      "default": "btn_primary_main_fill"
    },
    {
      "type": "header",
      "content": "Padding Y settings"
    },
    {
      "type": "number",
      "id": "pt_mob",
      "label": "Mobile padding top in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pb_mob",
      "label": "Mobile padding bottom in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pt_tab",
      "label": "Tablet padding top in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pb_tab",
      "label": "Tablet padding bottom in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pt_desk",
      "label": "Desktop padding top in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pb_desk",
      "label": "Desktop padding bottom in px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ block",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Block question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Block answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ multicolumn",
      "category": "Repeatable",
      "blocks": [
        {
          "type": "faq",
          "settings": {
            "question": "How do I create an account?",
            "answer": "<p>To create an account, simply click on the 'Sign Up' button on our website's homepage. Follow the prompts to provide the required information, such as your name, email address, and password.</p>"
          }
        },
        {
          "type": "faq",
          "settings": {
            "question": "What is your return/exchange policy?"
          }
        }
      ]
    }
  ]
}
{% endschema %}
