{% liquid
  assign section_anchor_id = section.settings.section_anchor_id | handleize
  assign color_scheme = section.settings.color_scheme

  assign featured_article = section.settings.featured_article
  assign layout = section.settings.layout
  assign layout_class = 'gap-7.5 md:pt-18 md:gap-y-15 container grid grid-cols-1 pt-10 md:grid-cols-2 2xl:max-w-[1237px] 2k:max-w-[1320px]'
  if layout == '3'
    assign layout_class = 'gap-7.5 md:pt-18 md:gap-y-15 container grid grid-cols-1 pt-10 md:grid-cols-2 smD:gap-y-20 2xl:grid-cols-3 2xl:max-w-[1496px] 2k:max-w-[1680px]'
  endif
  assign show_count = section.settings.show_count

  assign blocks = section.blocks
  assign main_blog_list = blocks | where: 'type', 'main_blog'
  assign main_blog = main_blog[0].settings.custom_blog.handle | default: 'all'

  assign all_blogs = false
  assign all_articles = false

  for block in blocks
    if block.settings.custom_blog.articles.size > 0
      if all_blogs
        assign all_blogs = all_blogs | append: block.settings.custom_blog.handle | append: ','
      else
        assign all_blogs = block.settings.custom_blog.handle | append: ','
      endif
    endif
  endfor
  assign all_blogs = all_blogs | split: ','

  if all_blogs contains blog.handle
    assign initialBlog = blog.handle
  else
    assign initialBlog = main_blog
  endif

  for uniq_blog in all_blogs
    if all_articles
      assign all_articles = all_articles | concat: blogs[uniq_blog].articles
    else
      assign all_articles = blogs[uniq_blog].articles
    endif
  endfor
  assign all_articles = all_articles | sort: 'published_at' | reverse

  assign newsletter = section.settings.newsletter
  assign newsletter_list_id = section.settings.newsletter_list_id
  assign newsletter_placeholder = section.settings.newsletter_placeholder
  assign newsletter_title = section.settings.newsletter_title
  assign newsletter_text = section.settings.newsletter_text
  assign newsletter_thanks = section.settings.newsletter_thanks
  assign newsletter_subtitle = section.settings.newsletter_subtitle

  assign pt_mob = section.settings.pt_mob
  assign pb_mob = section.settings.pb_mob
  assign pt_tab = section.settings.pt_tab
  assign pb_tab = section.settings.pb_tab
  assign pt_desk = section.settings.pt_desk
  assign pb_desk = section.settings.pb_desk
%}

{% render 'section-paddings',
  section_id: section.id,
  pt_mob: pt_mob,
  pb_mob: pb_mob,
  pt_tab: pt_tab,
  pb_tab: pb_tab,
  pt_desk: pt_desk,
  pb_desk: pb_desk
%}

<div
  id="{{ section_anchor_id }}"
  data-section-id="{{ section.id }}"
  class="color-scheme-{{ color_scheme }} bg-sc-bg-primary bg-primary-gradient"
>
  {% if featured_article != blank %}
    <!-- Blog featured article -->
    {% render 'freatured-article', article: featured_article, class: 'mb-15' %}
  {% endif %}

  <div x-data="blog('{{ initialBlog }}', {{ show_count }})">
    <!-- Blog navigation -->
    <div class="bg-sc-bg-secondary sticky top-0 z-10">
      <ul
        data-blog-list
        class="scrollbar-hide space-x-7.5 px-7.5 smD:space-x-20 mx-auto flex w-max w-full max-w-full snap-x items-center overflow-x-auto md:space-x-10"
      >
        {% for block in blocks %}
          {% assign block_blog = block.settings.custom_blog %}
          {% assign block_blog_handle = block_blog.handle %}
          <li
            class="scroll-ml-7.5 pb-4.5 snap-start border-b-[2px] pt-4 duration-300 ease-in-out md:pt-5 md:pb-3"
            :class="activeBlogLink === '{{- block_blog_handle -}}' ? 'border-sc-subtitle' : 'border-transparent'"
            :data-active-blog="activeBlog === '{{ block_blog_handle }}'"
          >
            <button
              type="button"
              aria-label="Open blog - {{ block_blog.title }}"
              class="hover:text-sc-link-primary-text-default whitespace-nowrap text-base font-medium duration-300 ease-in-out"
              :class="activeBlogLink === '{{- block_blog_handle -}}' ? 'text-sc-subtitle pointer-events-none' : 'text-sc-body-primary'"
              @click="changeActiveBlog('{{- block_blog_handle -}}')"
            >
              {{- block.settings.custom_blog.title -}}
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Blog article grid -->
    {% for block in blocks %}
      {% assign block_blog = block.settings.custom_blog %}
      <div
        class="{{- layout_class -}}"
        x-show="activeBlog === '{{ block_blog.handle }}'"
        x-cloak
      >
        {% if block_blog.handle == main_blog %}
          {% for article in all_articles %}
            {% assign article_blog_handle = article.handle | split: '/' | first %}
            {% assign blog = blogs[article_blog_handle] %}

            {% unless article.handle == featured_article.handle %}
              <div
                x-show="{{ forloop.index }} <= articleShowCount"
                class="animate__animated opacity-0"
                :class="{'animate__fadeIn' : {{ forloop.index }} <= articleShowCount }"
              >
                {% render 'blog-post-card',
                  type: 'main',
                  blog: blog,
                  article: article,
                  show_date: true,
                  show_excerpt: true
                %}
              </div>
            {% endunless %}
          {% endfor %}
        {% else %}
          {% paginate block_blog.articles by 1000 %}
            {% for article in block_blog.articles %}
              {% unless article.handle == featured_article.handle and block_blog.articles.size > 1 %}
                <div
                  x-show="{{ forloop.index }} <= articleShowCount"
                  class="animate__animated opacity-0"
                  :class="{'animate__fadeIn' : {{ forloop.index }} <= articleShowCount }"
                >
                  {% render 'blog-post-card',
                    type: 'main',
                    blog: block_blog,
                    article: article,
                    show_date: true,
                    show_excerpt: true
                  %}
                </div>
              {% endunless %}
            {% endfor %}
          {% endpaginate %}
        {% endif %}
      </div>
    {% endfor %}
    <div class="h-4 bg-transparent" x-intersect:enter="loadMoreArticles()"></div>

    {% if newsletter %}
      <!-- Klaviyo newsletter -->
      {% assign newsletter_class = 'mt-7.5 smD:mt-15 container 2xl:max-w-[1237px] 2k:max-w-[1320px]' %}
      {% if layout == '3' %}
        {% assign newsletter_class = 'mt-7.5 smD:mt-15 2k:mt-20 container 2xl:max-w-[1496px] 2k:max-w-[1680px]' %}
      {% endif %}

      {% render 'klaviyo-newsletter',
        class: newsletter_class,
        title: newsletter_title,
        text: newsletter_text,
        list_id: newsletter_list_id,
        thanks_text: newsletter_thanks,
        placeholder: newsletter_placeholder,
        subtitle: newsletter_subtitle
      %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Main blog",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section settings",
      "info": "Please select Main blog and seperated blogs in blocks"
    },
    {
      "type": "text",
      "id": "section_anchor_id",
      "label": "Section anchor id",
      "default": "Main blog"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "article",
      "id": "featured_article",
      "label": "Featured article"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Grid type",
      "options": [
        {
          "value": "2",
          "label": "Desktop 2 columns"
        },
        {
          "value": "3",
          "label": "Desktop 3 columns"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "min": 6,
      "max": 24,
      "step": 6,
      "unit": "un",
      "id": "show_count",
      "label": "Article show count",
      "default": 6
    },
    {
      "type": "header",
      "content": "Newsletter settings"
    },
    {
      "type": "checkbox",
      "id": "newsletter",
      "label": "Show newsletter form",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_list_id",
      "label": "Newsletter list id"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Input placeholder",
      "default": "Email*"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter title",
      "default": "Let’s be inbox friends"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text",
      "default": "<p>Sign up for product updates, offers, and learn more about Whistle, and other Mars Petcare brands.</p>"
    },
    {
      "type": "richtext",
      "id": "newsletter_thanks",
      "label": "Newsletter thanks text",
      "default": "<p>Thanks for subscribing!</p>"
    },
    {
      "type": "richtext",
      "id": "newsletter_subtitle",
      "label": "Newsletter subtitle",
      "default": "<p>See our privacy statement to find out how we collect and use your data, to contact us with privacy questions or to exercise your personal data rights.</p>"
    },
    {
      "type": "header",
      "content": "Padding Y settings"
    },
    {
      "type": "number",
      "id": "pt_mob",
      "label": "Mobile padding top in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pb_mob",
      "label": "Mobile padding bottom in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pt_tab",
      "label": "Tablet padding top in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pb_tab",
      "label": "Tablet padding bottom in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pt_desk",
      "label": "Desktop padding top in px",
      "default": 0
    },
    {
      "type": "number",
      "id": "pb_desk",
      "label": "Desktop padding bottom in px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "blog",
      "settings": [
        {
          "type": "blog",
          "id": "custom_blog",
          "label": "Blog"
        }
      ]
    },
    {
      "type": "main_blog",
      "name": "Main blog",
      "limit": 1,
      "settings": [
        {
          "type": "blog",
          "id": "custom_blog",
          "label": "Main Blog"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main blog",
      "blocks": [
        {
          "type": "main_blog",
          "settings": {
            "custom_blog": ""
          }
        },
        {
          "type": "block",
          "settings": {
            "custom_blog": ""
          }
        },
        {
          "type": "block",
          "settings": {
            "custom_blog": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
