{% liquid
  assign color_scheme = section.settings.color_scheme

  assign image = section.settings.image
  assign image_tab = section.settings.image_tab | default: image
  assign image_mob = section.settings.image_mob | default: image_tab

  assign logo = section.settings.logo
  assign logo_width = section.settings.logo_width

  assign title = section.settings.title
  assign description = section.settings.description
  assign placeholder = section.settings.input

  assign initState = true
  form 'storefront_password', id: 'hidden-form'
    if form.errors
      assign initState = false
    endif
  endform
%}

<div
  x-data="{ password: {{ initState }} }"
  class="color-scheme-{{- color_scheme }} bg-sc-bg-primary bg-primary-gradient smD:grid smD:grid-cols-2 smD:h-screen"
>
  {% assign img_class = 'w-full h-full object-cover' %}
  {% if image %}
    <picture>
      <source srcset="{{ image | image_url: width: 2000 }}" media="(min-width: 1020px)">
      <source srcset="{{ image_tab | image_url: width: 1150 }}" media="(min-width: 600px)">
      <source srcset="{{ image_mob | image_url: width: 600 }}" media="(max-width: 600px)">
      <img
        class="{{ img_class }}"
        src="{{ image | image_url: width: 2000 }}"
        alt="{{ image.alt | escape }}"
        width="2000"
        height="2000"
      >
    </picture>
  {% else %}
    {{ 'lifestyle-2' | placeholder_svg_tag: img_class }}
  {% endif %}

  <div
    x-cloak
    x-show="password"
    class="p-7.5 pt-12.5 smD:px-15 smD:pt-37.5 smD:pb-12.5 2k:max-w-2xl 2k:pt-60 4k:pt-96 2k:px-9 mx-auto flex max-w-xl flex-col md:px-4"
  >
    {% if logo != 'none' and settings[logo] != blank %}
      {{
        settings[logo]
        | image_url: width: logo_width
        | image_tag: loading: 'lazy', alt: shop.name, class: 'mb-7.5 smD:mb-10 mx-auto'
      }}
    {% elsif logo == 'name' %}
      <h2 class="mb-7.5 font-primary text-sc-title smD:mb-10 text-center text-2xl md:text-3xl 2xl:text-4xl">
        {{ shop.name }}
      </h2>
    {% endif %}

    {% if title != blank %}
      <h2 class="font-primary text-sc-title smD:text-5xl 2k:text-6xl mb-3 text-center text-3xl font-medium md:text-4xl">
        {{ title }}
      </h2>
    {% endif %}

    {% if description != blank %}
      <div class="rte text-sc-body-primary mb-7.5 smD:text-lg text-center text-sm md:text-base">{{ description }}</div>
    {% endif %}

    {%- render 'input',
      name: 'email',
      label: placeholder,
      type: 'email',
      required: true,
      autocomplete: 'email',
      enterkeyhint: 'send',
      self_submit: true,
      submit_input: true,
      input_height: 50
    -%}

    <p class="text-sc-body-primary md:mt-7.5 smD:text-base mt-5 text-center text-sm font-medium">
      Store owner?
      <button
        @click.prevent="password = false"
        class="underline smD:text-base text-sm {% render 'btn-class', btn: 'link_primary' %}"
      >
        Enter using password
      </button>
    </p>

    {% render 'social-media', class: 'flex-wrap gap-3 flex text-sc-subtitle mt-auto mx-auto pt-16' %}
  </div>

  <div
    x-cloak
    x-show="!password"
    class="p-7.5 pt-12.5 smD:px-15 smD:pt-37.5 smD:pb-12.5 2k:max-w-2xl 2k:px-9 mx-auto flex max-w-xl flex-col md:px-4"
  >
    {% if logo != 'none' and settings[logo] != blank %}
      {{
        settings[logo]
        | image_url: width: logo_width
        | image_tag: loading: 'lazy', alt: shop.name, class: 'mb-7.5 smD:mb-10 mx-auto'
      }}
    {% elsif logo == 'name' %}
      <h2 class="mb-7.5 font-primary text-sc-title smD:mb-10 text-center text-2xl md:text-3xl 2xl:text-4xl">
        {{ shop.name }}
      </h2>
    {% endif %}

    <h2 class="font-primary text-sc-title smD:text-5xl 2k:text-6xl mb-3 text-center text-3xl font-medium md:text-4xl">
      Store access
    </h2>

    <p class="rte text-sc-body-primary mb-7.5 smD:text-lg text-center text-sm md:text-base">
      Enter password below to access the store
    </p>

    {% form 'storefront_password' %}
      {%- render 'input',
        name: 'password',
        label: 'Password',
        type: 'password',
        required: true,
        autocomplete: 'password',
        enterkeyhint: 'send',
        self_submit: true,
        submit_input: true,
        input_height: 50
      -%}

      {% if form.errors %}
        <div class="text-c-accent-error mt-1 text-xs">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}
    {% endform %}

    <button
      @click.prevent="password = true"
      class="md:mt-7.5 mt-5 underline w-max max-w-full mx-auto smD:text-base text-sm {% render 'btn-class', btn: 'link_primary' %}"
    >
      Cancel
    </button>

    {% render 'social-media', class: 'flex-wrap gap-3 flex text-sc-subtitle mt-auto mx-auto pt-16' %}
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section colors"
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "image_tab",
      "label": "Tablet image (optional)"
    },
    {
      "type": "image_picker",
      "id": "image_mob",
      "label": "Mobile image (optional)"
    },
    {
      "type": "header",
      "content": "Content settings"
    },
    {
      "type": "select",
      "id": "logo",
      "label": "Logo style",
      "options": [
        {
          "value": "logo_dark",
          "label": "Dark logo"
        },
        {
          "value": "logo_light",
          "label": "Light logo"
        },
        {
          "value": "logo_dark_short",
          "label": "Dark short logo"
        },
        {
          "value": "logo_light_short",
          "label": "Light short logo"
        },
        {
          "value": "name",
          "label": "Display store name"
        },
        {
          "value": "none",
          "label": "Without logo"
        }
      ],
      "default": "name"
    },
    {
      "type": "number",
      "id": "logo_width",
      "label": "Logo width",
      "default": 164
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Section text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>"
    },
    {
      "type": "text",
      "id": "input",
      "label": "Input placeholder",
      "default": "Enter your e-mail to be notified "
    }
  ]
}
{% endschema %}
